hr {
    width: 400px; 
    height: 0.8px; 
    background: #777777; 
    border: 0;
    margin: 20px auto 20px auto; 
  }

  h4 {
    display: inline;
    padding: 50px;
  }

  .indent {
    height: 0px; 
  }